<main>
  <div class="page-breadcrumb d-md-flex align-items-center justify-content-between">
    <h2 class="page-title">Manage Department </h2>
    <!-- <app-breadcrumb></app-breadcrumb> -->
    <!-- <div class="breadcrumbWidget">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
              <li class="breadcrumb-item"><a routerLink="/subscription-plan">Subscription Plans</a></li>
              <li class="breadcrumb-item active" aria-current="page">Add Subscription Plan</li>
          </ol>
      </div> -->
  </div>

  <div class="container-fluid">
    <div class="matCard">
      <div class="matCrdTitle centerItemVert justify-content-between">
        <h3 class="matCardTitle">Add Department </h3>
        <a routerLink="/dash/department-list" class="btn btn-primary btnsmall">Back</a>
      </div>

      <div class="matCardBody">
        <div class="profileDetailsWidget pt-4 d-md-flex">

          <div class="profileContentRight flex-grow-1">
            <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
              <div class="proSection">
                <!-- <div class="row-flex"> -->
                  <div class="col s12 m6  form-group">
                    <mat-form-field class="w-100" appearance="outline">
                      <mat-label>Department  Name <span class="req">*</span></mat-label>
                      <input matInput formControlName="departmentName">
                      <mat-error
                        *ngIf="form.get('departmentName')?.touched  && form.get('departmentName')?.errors?.required">
                        Department Name is required</mat-error>
                    </mat-form-field>

                  </div>

                  <!-- </div> -->





              </div>

              <div class="proSection center">
                <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
